.data-wrapper {
  display: flex;
}
.data-wrapper > p {
  margin: 5px 0;
  font-size: 14px;
}

.data-wrapper.secondary > p,
.data-wrapper.secondary a {
  color: grey;
  font-size: 10px;
  margin: 0;
}
.data-wrapper.secondary > p:first-child {
  margin-left: 37px;
}

.data-wrapper.secondary > a {
  margin-left: 5px;
}
.data-wrapper.secondary > a:hover {
  text-decoration: underline;
}

.index-number {
  color: grey;
  padding-left: 10px;
}
.index-number::after {
  content: "";
  display: inline-block;
  background-image: url("/grayarrow.gif");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: relative;
  margin-bottom: 1px;
  margin-right: 5px;
}

.row-url {
  margin-left: 5px;
  align-self: center;
  font-size: 10px;
  color: grey;
}
.row-url:hover {
  text-decoration: underline;
}

.break-column {
  flex-basis: 100%;
  width: 0;
}
